@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
/* Colors */
:root {
  --lightgray: #e0e0e0;
  --gray: #c0c0c0;
  --darkgray: #333;
  --almostblack: #1b1b1b;
  --navy: #17050f;
  --blue: #082840;

  --lightblue: #9CF0FF;
  --purpleblack: #120D15;
  --purpledarkgrey: #48424a;
  --purplemidgrey: #7e7680;
  --purplelightgrey: #b3abb5;
  --purplewhite: #E9DFEA;
  --corner-radius: 5px;
  --accent: #6F00FF;
}

/* Global stylesheet */
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: auto;
  max-width: 42ch;
  font-family: -apple-system, system-ui, sans-serif;
  color: var(--purplewhite);
  background-color: var(--purpleblack);
  min-height: 100%;
}

a[href] {
  cursor: pointer;
}

.centered {
  text-align: center;
}


p:last-child {
  margin-bottom: 0;
}
p,
.tmpl-post li,
img {
  max-width: 45em;
}
p,
.tmpl-post li {
  line-height: 1.45;
}



/* Reset default */
a[href] {
  color: var(--purplewhite);
  background-color: unset;
  padding-left: 0;
  padding-right: 0;
}

/* Reset all links */
a[href] {
  color: var(--purplewhite);
  background-color: unset;
  padding-left: 0;
  padding-right: 0;
}

/* Add box to <p> links and .post-tag links */
p a[href],
a.post-tag {
  background-color: var(--purpledarkgrey);
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  border-radius: var(--corner-radius);
}



a[href]:hover {
  color: var(--accent);
}

h1 a[href],
h2 a[href],
h3 a[href],
h4 a[href],
h5 a[href],
h6 a[href] {
  background: none;
  padding: 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  background: none;
  padding: 0;
  margin: 0;
  color: var(--purplemidgrey);
  text-decoration: none;
}

main {
  padding: 1rem;
}
main :first-child {
  margin-top: 0;
}
header {

  padding-bottom: 0.25em;
  padding-top: 0.25em;
  margin-bottom: 0.5em;
}
header:after {
  content: "";
  display: table;
  clear: both;
}

.hero {
  padding: 2em;
  background: rgb(2, 0, 36);
  background: linear-gradient(238deg, #0080ff, #00f, #8000ff);
  border-radius: 5px;
  color: var(--purplewhite);
  box-shadow: black 5px 5px 2px;
}

a {
    text-decoration: none;
  color: var(--purpledarkgrey);
}




.hero > h2 {
  margin: 0;
}



h1{
  font-size: 3rem;
 font-family: "Michroma", sans-serif;
 text-align: center;
 letter-spacing: -0.1rem;
}

h2{
  font-size: 2rem;
 font-family: "Michroma", sans-serif;
  text-align: center;
  line-height: 2.488rem;
  letter-spacing: -0.05rem;
}
}

h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1.8rem;
  margin-top: 2.074rem;
}

h4 {
  font-size: 1.728rem;
  margin-top: 1.728rem;
}

h5 {
  font-size: 1.44rem;
  margin-top: 1.44rem;
}

h6{
  font-size: 1.2rem;
  margin-top: 1.2rem;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
  background-color: var(--purplewhite);
  color: var(--darkgray);
  border-radius: 5px;
}
code {
  word-break: break-all;
}

blockquote {
  border-left: solid var(--accent) 0.2em;
  border-right: solid var(--accent) 0.2em;
  border-radius: 1em;
  margin: 2em 0;
  padding: 2em;
  color: var(--purplewhite);
  font-weight: bold;
}

.highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
.highlight-line:empty:before {
  content: " ";
}
/* avoid double line breaks when using display: block; */
.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, 0.8);
}
.highlight-line-add {
  background-color: #45844b;
}
.highlight-line-remove {
  background-color: #902f2f;
}

/* Header Container */
header {
  text-align: center;
  padding: 1rem 0;

  margin-bottom: 1em;
}

/* Site Title */
.home {

  margin: 0 auto;
  max-width: 42ch;
}

.home a {
  text-decoration: none;
  color: inherit;
}

/* Nav */
.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1em auto 0;
  padding: 0;
  list-style: none;
  max-width: 42ch;
}

.nav-item {
  
  font-size: small;
  flex: none;
  padding: 0.25em 0.5em;
}

.nav-item a[href] {
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  padding: 0.25em 0.5em;
  border-radius: var(--corner-radius);
  display: inline-block;
  background-color: transparent;
  transition: background-color 0.2s, color 0.2s;
  cursor: pointer;
}

.nav-item a[href]:hover {
  background-color: var(--accent);
  color: var(--purplewhite);
}

.nav-item-active {
  font-weight: 700;
  text-decoration: none;
  background-color: var(--purplewhite);
  color: var(--purpleblack);
  padding: 0.25em 0.5em;
  border-radius: var(--corner-radius);
  z-index: 1;
}

.nav-item a.nav-item-active {
  font-weight: 700;
  background-color: var(--purplewhite);
  color: var(--purpleblack);
}


.logo-nav {
  /* margin-right: 0.5em; */
}



/* Posts list */
.postlist {
  list-style: none;
  padding: 0 0 2em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postlist-item {
  width: 100%;
  max-width: 42ch;
  text-align: center;
  line-height: 1rem;
  padding: 3rem 0;
  border-bottom: 1px var(--purpledarkgrey) solid;
}
.postlist-item:before {
  /* display: inline-block; */
  
  pointer-events: none;
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
 
  color: var(--purplemidgrey);
  
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  padding: 0.25em;
  border-radius: var(--corner-radius);
}
a.postlist-link:hover {
  color: var(--accent);
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {

  font-weight: 700;
}

/* Tags */

.tags-wrapper {
  text-align: center;
}

.post-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-transform: lowercase;
  font-size: .8em;

  color: var(--purplewhite);
  padding: 0rem 1rem;
  margin-bottom: 1rem;
  background-color: var(--purpledarkgrey);
  border-radius: var(--corner-radius);
  text-decoration: none;
  line-height: 2rem;
}

.post-tag-xl{
  font-size: 3rem;
line-height: 1.8rem;
padding: 2rem;
margin: .5rem;
}



.tag-name-title {
    font-weight: 700;
  text-decoration: none;
  background-color: var(--purplewhite);
  color: var(--purpleblack);
  padding: 0.3em 0.7em;
  border-radius: var(--corner-radius);
}

a[href].post-tag,
a[href].post-tag:visited {
  color: inherit;
}

.postlist-item > .post-tag {
  align-self: center;
  
}

/* Direct Links / Markdown Headers */
.direct-link {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: 0.1em;
}
a[href].direct-link,
a[href].direct-link:visited {
  color: transparent;
}
a[href].direct-link:focus,
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 4em;
}

table td {
  border-bottom: 1px dashed var(--lightgray);
  padding: 15px 8px;
}

table tr:hover {
  background-color: var(--blue);
}

table th {
  border-bottom: 3px solid var(--lightgray);
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}

p > code {
  color: #3f3f3f;
  background-color: #e9e9e9;
  padding: 0 5px;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  padding: 4em 0;
}

.post-footer > div {
  width: 50%;
}

.post-footer > .next-post {
  text-align: right;
}

.post-footer > div > a {
  padding: 5px;
  border-radius: var(--corner-radius);
  font-weight: bold;
  line-height: 2em;
  color: var(--purplewhite);
}

.post-footer > div > a:hover {
  color: var(--purplewhite);
}

::-moz-selection {
  background: var(--lightblue);
  color: var(--darkgray);
}
::selection {
  background: var(--lightblue);
  color: var(--darkgray);
}

.tags-container {
  margin-bottom: 5em;
}

footer {
  color: var(--purpledarkgrey) !important;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-color: var(--purpledarkgrey);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0;
  margin-top: 1rem;
  min-height: 50vw;
}

.footer-text {
  text-align: center;
  font-size: 0.5em;
  color: var(--gray);
  margin-bottom: 25px;
  margin-top: 0.5rem;
}



.post-meta time {
  display: block;
  font-size: 0.875em;
  color: var(--gray);
  margin-bottom: 1em;
  text-align: center;
}


.haiku {
  background-color: var(--purplelightgrey);
  border-radius: var(--corner-radius);
  color: var(--purpleblack);
  font-size: 1rem;
  display: block;

  width: fit-content;
  margin: 2em auto;
  font-style: italic;
  line-height: 2rem;
  padding: 4rem;
  text-align: center;
  font-family: Georgia, serif;
}