---
title: All Tags
permalink: /tags/
layout: layouts/home.njk
eleventyNavigation:
  key: Tags
  order: 2
---

<br>
<div class="tags-container">
{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="post-tag post-tag-xl">{{ tag }}</a>
{% endfor %}
</div>
