---
pagination:
  data: collections.tagList
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
  permalink: "tags/{{ tag | slug }}/"
layout: layouts/home.njk
eleventyComputed:
  title: "Tagged {{ tag }}"
  permalink: false
---
{# permalink: /tags/{{ tag | slug }}/ #}
<h4 class="centered"><span class="tag-name-title">{{ tag }}</span></h4>

{% for post in pagination.items %}
  <a href="{{ post.url }}">{{ post.data.title }}</a>
{% endfor %}

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p class="centered"><a href="{{ '/tags/' | url }}">ALL TAGS</a></p>
