---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---
<h2><span class="tag-name-title">{{ tag }}</span></h2>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p class="centered"><a href="{{ '/tags/' | url }}">ALL TAGS</a></p>
