---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="post-meta">
<time datetime="{{ page.date | htmlDateString }}">{{ page.date | htmlDateString }}</time>
</div>

<h2>{{ title }}</h2>

<div class="tags-wrapper">
  {%- for tag in tags | filterTagList -%}
    {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
    <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
  {%- endfor %}
</div>

{{ content | safe }}

{%- if collections.posts %}
{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<br>
<br>
<br>
<br>
<div class="post-footer">
  <div class="prev-post">{%- if previousPost %}◀<a class="" href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>{% endif %}</div>
  <div class="next-post">{%- if nextPost %}<a class="" href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>▶{% endif %}</div>
</div>
{%- endif %}
{%- endif %}
